
.server-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 10px;
}

/* 각각의 서버 아이템 */
.server-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.server-item .hover{
	transition: background-color 0.2s ease-in-out;
}
